node_modules
admin/node_modules
prod
admin/prod
admin/app/bower_components
app/uploads
app/admin-mag
app/css
admin/app/css
admin/app/fonts
admin/app/js/gentelella
admin/app/js/tinymce/plugins
admin/app/js/tinymce/skins
admin/app/js/tinymce/themes
admin/app/js/tinymce/tinymce.js
admin/app/sass/font-awesome
admin/app/sass/gentelella
.DS_Store
admin/app/includes/inc_config.php
admin/gulpfile.js
gulpfile.js
