//======================================================
// ANIMATIONS
//======================================================
@keyframes height-100-0 {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacityHeader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .3;
    }
}

@keyframes pastille {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes navbar {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes anim-tiret {
    0% {
        width: 0;
    }

    100% {
        width: 9rem;
    }
}

@keyframes anim-tiret-vm {
    0% {
        width: 0;
    }

    100% {
        width: 65px;
    }
}


@keyframes trans-opacity-top-100 {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes trans-opacity-bot-100 {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes trans-opacity-left-100 {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes trans-opacity-right-100 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rebond-start {
    from {
        opacity: 0;
        transform: scale(1);
    }

    33% {
        opacity: 1;
        transform: scale(1.15);
    }

    66% {
        opacity: 1;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

//======================================================
// PARALLAX SPEED
//======================================================

.parallax {
    transition: all 0.5s linear;

    &.speed2 {
        transition: all 0.6s linear;
    }

    &.speedImg {
        transition: all 0.4s linear;
    }
}

.anim-img-parallax {
    overflow: hidden;

    img {
        width: 100%;
        height: 105%;
        object-fit: cover;
        object-position: center;
        transform: translateY(-5%);
    }
}

.anim-img-parallax-invers {
    overflow: hidden;

    img {
        width: 100%;
        height: 105%;
        object-fit: cover;
        object-position: center;
        transform: translateY(0%);
    }
}


//======================================================
// WOOW EFFECT
//======================================================


.anim-opacity {
    position: relative;
    transition: all 1s;
}

.anim-opacity.masked {
    transition: none;
    opacity: 0;
}

.anim-bottom {
    position: relative;
    transition: all 1s;
}

.anim-bottom.masked {
    transition: all .1s;
    transform: translateY(50%);
    opacity: 0;
}

.anim-pastille {
    transition: all 1s;
}

.anim-pastille.masked {
    transition: all .1s;
    transform: scale(.8);
    opacity: 0;
}

.anim-illustration {
    opacity: 1;
    transition: all 1s;

    img {
        transform: scale(1);
        transition: all 1s;
    }
}

.anim-illustration.masked {
    opacity: 0;
    transition: all .1s;

    img {
        transform: scale(.8);
        transition: all .1s;
    }
}

.anim-tiret {
    width: 9rem;
    transition: all 1s;
    transition-delay: .2s;

    @media screen and (max-width:$screen-md) {
        width: 65px;
    }
}

.anim-tiret.masked {
    width: 0;
    transition: all .1s;
}

.anim-title {
    span {
        display: inline;
        position: relative;
        transition: all .4s;

        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                transition-delay: $i * .05s;
                z-index: $i;
            }
        }
    }
}

.anim-title.masked {

    span {
        opacity: 0;
        transition: all .1s;
    }
}

.anim-bigTitle {

    div {
        position: relative;
        overflow: hidden;

        span {
            display: block;
            position: relative;
            transition: all .7s;
        }

        @for $i from 1 through 50 {
            &:nth-child(#{$i}) {
                span {
                    transition-delay: $i * .1s;
                    z-index: $i;
                }
            }
        }
    }
}

.anim-bigTitle.masked {

    div {
        span {
            transform: translateY(110%);
            transition: all .1s;
        }
    }
}

.anim-right {
    position: relative;
    transition: all 1s;
}

.anim-right.masked {
    transition: none;
    transform: translateX(50%);
    opacity: 0;
}

.anim-left {
    position: relative;
    transition: all 1s;
}

.anim-left.masked {
    transition: none;
    transform: translateX(-50%);
    opacity: 0;
}

.anim-delay {
    @for $i from 1 through 5 {
        &--#{$i} {
            transition-delay: $i * .2s;
            z-index: $i;
        }
    }
}