/*************************************************
// STYLES DE CARATERES
*************************************************/
$pMaxWith : var(--pMaxWith);

.paragr,
p {
    @include fluid-text(11px, 20px, 1.5, 991px, 1920px);
    font-family: $font;
    font-weight: $regular;
    text-align: left;
    color: $noir;
    margin: 0;

    strong {
        font-weight: $bold;
    }

    @media(max-width:$screen-md) {
        font-size: 20px;
    }

    @media(max-width:$screen-xss) {
        font-size: 16px;
    }

    &+p {
        margin-top: 2vw;

        @media screen and (max-width:$screen-md) {
            margin-top: 40px;
        }
    }

    &-small {
        @include fluid-text(11px, 15px, 1, 991px, 1920px);

        @media(max-width:$screen-md) {
            font-size: 14px;
        }

        @media(max-width:$screen-xss) {
            font-size: 13px;
        }
    }

    &.v-maxWidth {
        max-width: $pMaxWith;

        @media screen and (max-width:$screen-md) {
            max-width: 100%;
        }

        &.right {
            margin-left: auto;
        }
    }
}

/*************************************************
// TITRES H1/H2/H3
*************************************************/


.h1 {
    margin: 0;
    font-family: $font-rexton;
    font-weight: $regular;
    @include fluid-text(24px, 60px, 1, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 24px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 22px;
    }
}

.h2 {
    margin: 0;
    font-family: $font;
    font-weight: $semi-bold;
    @include fluid-text(35px, 50px, 1, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 35px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 30px;
    }
}

.h3 {
    margin: 0;
    font-family: $font;
    font-weight: $semi-bold;
    @include fluid-text(28px, 40px, 1.25, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 30px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 28px;
    }
}

.h4 {
    margin: 0;
    font-family: $font;
    font-weight: $semi-bold;
    @include fluid-text(22px, 30px, 1.1, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 23px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 20px;
    }
}

.h5 {
    margin: 0;
    font-family: $font-rexton;
    font-weight: $regular;
    @include fluid-text(13px, 30px, 1, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 13px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 12px;
    }
}

.h160 {
    margin: 0;
    font-family: $font;
    font-weight: $bold;
    @include fluid-text(65px, 160px, 0.9, 991px, 1920px);

    @media screen and (max-width:$screen-md) {
        font-size: 65px;

        br {
            display: none;
        }
    }

    @media screen and (max-width:340px) {
        font-size: 60px;
    }
}

/*************************************************
// COMPOSANTS CONTENT
*************************************************/
$traitColor : var(--traitColor);

.s-trait {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 9rem;

    @media screen and (max-width:$screen-md) {
        width: 65px;
    }

    span {
        display: block;
        width: 100%;

        svg {
            width: 100%;
            height: auto;

            path {
                fill: $traitColor;
            }
        }
    }

    &.v-margeTitre {
        display: flex;
        margin-top: 2.5vw;
        margin-bottom: 2vw;

        @media screen and (max-width:$screen-md) {
            margin-top: 45px;
            margin-bottom: 45px;
        }
    }

    &.v-center {
        margin-left: auto;
        margin-right: auto;
    }

    &.v-right {
        margin-left: auto;
    }
}

.s-pastille {
    position: relative;
    display: inline-block;
    width: 18.7rem;
    z-index: 2;

    @media screen and (max-width:$screen-md) {
        width: 150px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .cercle {
        width: 100%;
        display: block;
        transform: rotate(0);
        animation: pastille 8s linear infinite;
    }

    .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);

        &.pizza {
            width: 100%;
        }
    }
}