// ===================================
// *** ARTICLE CONTENT
// ===================================

.c-actu {
    position: relative;
    padding-bottom: 0 !important;

    // -------------------- ** IMAGE UNE **

    &__cover {
        position: relative;
        overflow: hidden;
        margin-top: 4vw;
        margin-bottom: 6rem;

        @media screen and (max-width:$screen-md) {
            margin-bottom: 50px;
            margin-top: 0;
        }

        // -------------------- ** TEXT CONTENT **

        &_text {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-bottom: 4rem;

            @media screen and (max-width:$screen-md) {
                display: block;
                margin-bottom: 40px;
            }
        }

        &_img {
            width: 100%;
            margin-top: 5vw;

            @media screen and (max-width:$screen-md) {
                margin-top: 40px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    // -------------------- ** TITLE **

    &__title {
        margin: 0;
        margin-bottom: 0;
        color: $rose;
        font-size: 4.5rem;
        font-family: $font;
        font-weight: $bold;

        @media screen and (max-width:$screen-md) {
            width: 100%;
            font-size: 40px;
            margin-bottom: 40px;
        }

    }

    // -------------------- ** DATE **

    &__date {
        display: block;
        font-size: 12px;
        font-family: $font;
        font-weight: $semi-bold;
        color: $vert;
        margin-top: 10px;
        margin-bottom: 20px;

        @media (min-width:$screen-md) {
            font-size: 2rem;
            margin-top: 0rem;
            margin-bottom: 4rem;
        }
    }

    // -------------------- ** TAGS BUTTONS **

    &__tags {
        margin-top: 15px;
    }

    // -------------------- ** TAGS **

    &__tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        padding: 0 3rem;
        font-family: $font;
        font-weight: $semi-bold;
        text-transform: uppercase;
        font-size: 1.3rem;
        border: 1px solid $vert;
        color: $vert;
        margin-right: 1rem;
        border-radius: 2rem;
        margin-bottom: 1rem;
        transition: all .3s ease;

        @media screen and (max-width:$screen-md) {
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            height: 40px;
            border-radius: 20px;
            padding: 0 20px;
        }
    }

    // -------------------- ** CATEGORY BUTTON **

    &__category {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        padding: 0 3rem;
        font-family: $font;
        font-weight: $regular;
        text-transform: uppercase;
        font-size: 1.6rem;
        border: 1px solid $vert;
        color: $vert;
        margin-right: 1rem;
        margin-bottom: 1rem;
        transition: all .3s ease;

        @media screen and (max-width:$screen-md) {
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: 12px;
            height: 40px;
            padding: 0 10px;
        }
    }

    // -------------------- ** PREVIEW TEXT **

    &__preview {
        font-size: 16px;
        color: $vert;
        margin-bottom: 50px;
        font-family: $font;
        font-weight: $semi-bold;

        @media (min-width:$screen-md) {
            font-size: 2.2rem;
            margin-bottom: 6rem;
        }
    }

    // -------------------- ** SUBTITLE **

    &__subtitle {
        font-size: 24px;
        color: $rose;
        margin: 0;
        font-family: $font;
        font-weight: $bold;
        margin-bottom: 50px;

        @media (min-width:$screen-md) {
            font-size: 3.5rem;
            margin-bottom: 6rem;

        }
    }

    // -------------------- ** TEXT **

    &__text {
        @extend %font;
        font-size: 14px;
        margin-bottom: 50px;
        line-height: 1.6;
        color: $vert;

        @media (min-width:$screen-md) {
            font-size: 1.8rem;
            margin-bottom: 6rem;
        }
    }

    // -------------------- ** IMAGE **

    &__image {
        margin-bottom: 50px;

        @media screen and (min-width:$screen-md) {
            margin-bottom: 6rem;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    // -------------------- ** VIDEO **

    &__video {
        margin-bottom: 50px;
        padding-bottom: 58%;
        position: relative;

        @media screen and (min-width:$screen-md) {
            margin-bottom: 6rem;
        }

        iframe {
            display: block;
            width: 100%;
            height: 100%;
            @include position(absolute, 1, 0, 0, 0, 0);
        }
    }

    // -------------------- ** BUTTON **

    &__button {
        text-align: center;
        margin-bottom: 50px;

        @media screen and (min-width:$screen-md) {
            margin-bottom: 6rem;
        }
    }

    // -------------------- ** BUTTON **

    &__cta {
        background-color: $rose;
        margin-bottom: 6rem;
        display: flex;

        @media screen and (max-width:$screen-md) {
            margin-bottom: 50px;
            display: block;
        }

        &_img {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: relative;

            @media (min-width:$screen-sm) {
                width: 35%;
                overflow: hidden;
                position: relative;
                margin-right: 5%;
                padding: 0;
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &_text {
            display: block;
            width: 100%;
            font-family: $font;
            font-weight: $regular;
            line-height: 1.4;
            color: $blanc;
            padding: 25px;
            font-size: 16px;

            @media (min-width:$screen-sm) {
                width: 60%;
                padding: 4rem 0;
                font-size: 1.8rem;
            }
        }

        &__title {
            font-size: 3rem;
            display: inline-block;
            margin-bottom: 4rem;
            color: $vert;

            @media screen and (max-width:$screen-md) {
                font-size: 20px;
            }
        }

        &__content {
            display: block;
            margin-bottom: 4rem;

            @media screen and (max-width:$screen-md) {
                margin-bottom: 30px;
            }
        }
    }

    // -------------------- ** PDF FILE **

    &__pdf {
        margin-bottom: 6rem;
        padding-top: 3rem;
        text-align: center;

        @media screen and (max-width:$screen-md) {
            margin-bottom: 50px;
        }

        &_title {
            display: inline-block;
            color: $rose;
            font-weight: $black;
            font-size: 2.5rem;
            margin-bottom: 3rem;

            @media screen and (max-width:$screen-md) {
                font-size: 18px;
            }
        }

        &_button {

            .icon-download {
                @include icon(20px);
                margin-left: 10px;
            }
        }
    }

    // -------------------- ** HTML ELEMENT **

    &__html-element {
        margin-bottom: 6rem;

        @media screen and (max-width:$screen-md) {
            margin-bottom: 50px;
        }
    }

    // -------------------- ** PHOTOS GALLERY **

    &__gallery {
        height: auto;
        width: 100%;
        position: relative;
        margin-bottom: 6rem;

        .slick-prev,
        .slick-next {
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            background: $rose;
            @include position(absolute, 5, 0, auto, 0, 3rem);
            left: -4rem;
            margin: auto;
            font-size: 0;
            transform: rotate(90deg);

            &:before {
                display: none;
            }

            &:after {
                font-family: 'icomoon-mag' !important;
                speak: never;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\e900";
                @include icon(3rem);
                color: $blanc;
                display: block;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);

            }
        }

        .slick-next {
            right: -4rem;
            left: auto;
            transform: none;
            transform: rotate(-90deg);
        }

        .slick-slide {
            .wrapper {
                width: 100%;
                padding-bottom: 70%;
                height: 0;
                position: relative;
                overflow: hidden;

                img {
                    position: absolute;
                    height: 100%;
                    width: auto;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }
            }
        }
    }

    // -------------------- ** COMMENTS **

    &_comments {
        margin-top: 5rem;

        &_title {
            font-size: 18px;
            color: $gris-dark;
            margin-bottom: 30px;
            border-bottom: solid 1px $gris-dark;
            padding-bottom: 30px;
            @extend %font-bold;

            @media (min-width:$screen-sm) {
                font-size: 20px;
            }

            @media (min-width:$screen-lg) {
                font-size: 24px;
            }
        }

        &_content {
            padding-top: 20px;
            margin-bottom: 30px;
        }

        // *** Commentaire button (open form)
        &_button {
            display: inline-block;
            padding: 2rem 4rem;
            background: $gris-light;
            border-radius: 5px;

            .icon-mag-pdf {
                @include icon(20px);
                margin-left: 10px;
            }

            &:hover {
                background: $gris;
                color: $blanc;
            }
        }
    }

    &__comment {
        margin-bottom: 15px;
        border-bottom: solid 1px $gris-light;
        padding-bottom: 15px;

        &:last-child {
            border: none;
        }

        &_title {
            font-size: 16px;
            color: $gris;
            @extend %font-bold;
        }

        &_text {
            font-size: 14px;
            color: $gris-dark;
            margin-top: 10px;
            @extend %font;
        }

        &__date {
            color: $gris;
            font-size: 12px;
        }
    }

    &__form {
        margin-top: 6rem;
    }

    // -------------------- ** SOCIAL LINKS **

    &__social {
        margin-top: 2rem;

        @media screen and (max-width:$screen-md) {
            width: 100%;
            margin-top: 20px;
        }


        &_links {
            display: flex;
            align-items: center;
            justify-content: center;

            .bt-share {
                width: 4.5rem;
                height: 4.5rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                color: $rose;
                border-radius: 100%;
                position: relative;

                @media screen and (max-width:$screen-md) {
                    width: 40px;
                    height: 40px;
                }

                [class^="icon-"] {
                    @include icon(2.3rem);

                    @media screen and (max-width:$screen-md) {
                        @include icon(14px);
                    }
                }

                &+.bt-share {
                    margin-left: 20px;

                    @media(min-width:$screen-md) {
                        margin-left: 2rem;
                    }
                }

                &:hover {
                    opacity: 1 !important;
                    background-color: $rose;
                    color: $blanc;
                    transition: all .3s ease;
                }
            }

            &:hover {
                .bt-share {
                    opacity: .5;
                }
            }
        }
    }

    // -------------------- ** SIMILAR ARTICLES **

    &_similar {
        margin-top: 8rem;
        padding-top: 7vw;
        padding-bottom: 7vw;

        &_head {
            margin-bottom: 5.2vw;
        }
    }
}