@font-face {
    font-family: 'Rexton';
    src: url('Rexton-Regular.woff2') format('woff2'),
        url('Rexton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isidora';
    src: url('Isidora-Bold.woff2') format('woff2'),
        url('Isidora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isidora';
    src: url('Isidora-SemiBold.woff2') format('woff2'),
        url('Isidora-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Isidora';
    src: url('Isidora-Regular.woff2') format('woff2'),
        url('Isidora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

