.accueil {

    .p-header {

        &_bg {
            background-image: url('../img/header/bg-don-camillo-index.jpg');

            @media screen and (max-width:$screen-md) {
                background-image: url('../img/header/mobile/bg-don-camillo-index.jpg');
            }
        }
    }

    .p-nav {

        &.masked {
            .p-nav {
                &_content {

                    &_logo {
                        opacity: 0;
                        pointer-events: none;
                        transition: all .3s ease;
                    }
                }
            }
        }

        &.ouvert {
            .p-nav {
                &_content {

                    &_logo {
                        opacity: 1;
                        transition: all .3s ease;
                    }
                }
            }
        }
    }

    .index-intro {
        position: relative;
        overflow: hidden;
        padding-top: 16.66vw;
        padding-bottom: 59.89vw;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/content/index/bg-intro-index.jpg');

        @media screen and (max-width:$screen-sm) {
            background-image: url('../img/content/index/bg-intro-index-mobile.jpg');
            padding-top: 260px;
            padding-bottom: 890px;
        }

        .illustration-olive {
            position: absolute;
            top: -5vw;
            right: -8vw;
            width: 34.6vw;

            @media screen and (max-width:$screen-md) {
                width: 300px;
                right: -50px;
                top: -50px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .index-doubleImg {
        position: relative;

        .row {
            @media screen and (min-width:$screen-sm) {
                display: flex;
                align-items: flex-end;
            }
        }

        .img {
            position: relative;
            width: 100%;

            &.img1 {
                height: 58.22vw;
                top: -8.33vw;

                @media screen and (max-width:$screen-sm) {
                    width: 69.33vw;
                    height: 103vw;
                    top: -36vw;
                    left: -30px;
                }
            }

            &.img2 {
                height: 47.13vw;

                @media screen and (max-width:$screen-sm) {
                    width: 69.33vw;
                    height: 101vw;
                    margin-left: auto;
                    right: -30px;
                }
            }
        }

        .s-pastille {
            position: absolute;
            top: -9rem;
            right: -8rem;

            @media screen and (max-width:$screen-sm) {
                top: -86px;
                right: auto;
                left: 30px;
            }
        }
    }
}