.legals {

    #wrapper {
        background-color: $beige;
        padding-top: 15rem;

        @media screen and (max-width:$screen-md) {
            padding-top: 130px;
        }
    }

    #section-top {
        padding-bottom: 15rem;
    }

    .p-header {
        display: none;
    }

    &_titre {
        margin-bottom: 6rem;
    }

    &_texte {
        padding: 10rem 0;

        p {
            &+p {
                margin-top: 30px;
            }
        }
    }

    &_subtitle {
        display: block;
        color: $rose;
        font-size: 18px;
        margin-top: 60px;
        margin-bottom: 20px;

        @media (min-width:$screen-md) {
            font-size: 24px;
        }
    }
}